Options -Indexes

# Unnecessary but for completeness...
AddType application/octet-stream .bin

# Hide sensitive stuff - might be better to ban everything
# and whitelist...
<FilesMatch "\.(py|xml|sh|cfg)$">
    Require all denied
</FilesMatch>
